<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
    $(function() {
        $( "#dateofjoining" ).datepicker();

    });
</script>

<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <!--%= f.text_field :department_id %-->

    <%= collection_select(:employee, :department_id, Department.all, :id, :name,{:prompt => false}) %>
  </div>

  <div class="field">
    <%= f.label :salary_id %><br>
    <!--%= f.text_field :salary_id %-->
    <%= collection_select(:employee, :salary_id, Salary.all, :id,  :name, {:prompt => false}) %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :resume %><br>
    <%= f.text_field :resume %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :date_of_joining %><br>
    <%= f.text_field :date_of_joining, :id=> "dateofjoining" %>
  </div>
  <div class="field">
    <%= f.label :shift_id %><br>
    <!--%= f.text_field :shift_id %-->
    <%= collection_select(:employee, :shift_id, Shift.all, :id,  :name, {:prompt => false}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
