<%= form_for(@leave_account) do |f| %>
  <% if @leave_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_account.errors.count, "error") %> prohibited this leave_account from being saved:</h2>

      <ul>
      <% @leave_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <!--%= f.text_field :employee_id %-->
    <%= collection_select(:leave_account, :employee_id, Employee.all, :id,  :name, {:prompt => false}) %>
  </div>
  <div class="field">
    <%= f.label :leave_type_id %><br>
    <!--%= f.text_field :leave_type_id %-->
    <%= collection_select(:leave_account, :leave_type_id, LeaveType.all, :id,  :name, {:prompt => false}) %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
