<h3>
  <a href="/home/index">Home</a>  ||
  <%= link_to 'Employee', employees_path %>  ||
  <%= link_to 'Department', departments_path %>    ||
  <%= link_to 'Leave Account', leave_accounts_path %>     ||
  <%= link_to 'Leave type', leave_types_path %>       ||
  <%= link_to 'Attendence status', attendence_statuses_path %>     ||
  <%= link_to 'Attendence', attendences_path %>      ||
  <%= link_to 'Salary', salaries_path %>   ||
  <%= link_to 'Shift', shifts_path %>   ||
  <a href="/payslip/report">Payslip</a>     </h3>
</h3>
