<%= form_for(@salary) do |f| %>
  <% if @salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% @salary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :advance_salary %><br>
      <%= f.number_field :amount %>
    </div>

    <div class="field">
      <%= f.label :basic_salary %><br>
      <%= f.number_field :basic_salary %>
    </div>

    <div class="field">
      <%= f.label :dearness_allowance %><br>
      <%= f.number_field :dearness_allowance %>
    </div>

    <div class="field">
      <%= f.label :house_rent_allowance %><br>
      <%= f.number_field :house_rent_allowance %>
    </div>


    <div class="field">
      <%= f.label :medical_allowance %><br>
      <%= f.number_field :medical_allowance %>
    </div>

    <div class="field">
      <%= f.label :conveyance_allowance %><br>
      <%= f.number_field :conveyance_allowance %>
    </div>
    <div class="field">
      <%= f.label :mobile_allowance %><br>
      <%= f.number_field :mobile_allowance %>
    </div>


    <div class="field">
      <%= f.label :provident_fund %><br>
      <%= f.number_field :provident_fund %>
    </div>
    <div class="field">
      <%= f.label :esi %><br>
      <%= f.number_field :esi%>
    </div>

    <div class="field">
      <%= f.label :loan %><br>
      <%= f.number_field :loan%>
    </div>

    <div class="field">
      <%= f.label :profession_tax %><br>
      <%= f.number_field :profession_tax%>
    </div>


    <div class="field">
      <%= f.label :tsd_it %><br>
      <%= f.number_field :tsd_it%>
    </div>

    <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
