

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payslipreports.each do |payslipreport| %>
      <tr>
        <td><%= link_to 'Show', payslipreport %></td>
        <td><%= link_to 'Edit', edit_payslipreport_path(payslipreport) %></td>
        <td><%= link_to 'Destroy', payslipreport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
    $(function() {
        $( "#fromdatepicker" ).datepicker();
        $( "#todatepicker" ).datepicker();
    });
</script>  <center>   <h1>Payslip Report</h1>
  <div style="border: 2px solid;width: 30%;text-align: center">

    <%= form_tag payslipreports_path, :method => 'get' do %>
        <table>
          <tr> <td>
            <!--%= f.text_field :employee_id %-->
            Please Select Employee</td><td><%= collection_select(:employee, :employee_id, Employee.all, :id,  :name, {:prompt => false}) %>
          </td></tr>
          <tr> <td>
            <br>

            <!--%= f.text_field :employee_id %-->
            From Date</td><td ><%= text_field_tag :fromdatepicker %>
          </td></tr>
          <tr> <td>
            <br>
            <!--%= f.text_field :employee_id %-->
            To Date</td><td><%= text_field_tag  :todatepicker %>
          </td></tr>
          <tr> <td>
            <br>  </td><td>
            <!--%= f.text_field :employee_id %-->
            <%= submit_tag("Go")%>
          </td></tr>
        </table>
    <%end%>
  </div>
  <% @employees.each do |employee| %>




      <table border="1" cellpadding="1" cellspacing="1" style="">
        <tbody>
        <tr>
          <td colspan="2"  style="background-color: #D6D6D6; width:500px">
            <b>Employee Id- <%= employee.code %> <br/>
              Name- <%= employee.name %> </b>

            <br/>

            Department -  <%= employee.department.name %> <br/>
            Leave -  <%= employee.leave_accounts.count %> <br/>

            Salary -  <%= employee.salary.amount %> <br/>
            Shift -  <%= employee.shift.name %> <br/>

            <%

               total_month_days = Time.days_in_month(1)

               if   employee.salary.amount>=0

                 if  employee.leave_accounts.count>=0

                   @x =   employee.salary.amount - (employee.salary.amount/total_month_days)*employee.leave_accounts.count  ;
            %>

                    <%= total_month_days %>  <br/>
                    Net Salary -  <%= @x %> <br/>

                <%end end %>
            <!--% end %-->


          </td>

        </tr>

      </table>
  <%end%>
</center>
<br>


