<%= form_for(@attendence) do |f| %>
  <% if @attendence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendence.errors.count, "error") %> prohibited this attendence from being saved:</h2>

      <ul>
      <% @attendence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <!--%= f.text_field :employee_id %-->
    <%= collection_select(:attendence, :employee_id, Employee.all, :id,  :name, {:prompt => false}) %>
  </div>
  <div class="field">
    <%= f.label :date_time %><br>
    <%= f.datetime_select :date_time %>
  </div>
  <div class="field">
    <%= f.label :attendence_status_id %><br>
    <!--%= f.text_field :attendence_status_id %-->
    <%= collection_select(:attendence, :attendence_status_id, AttendenceStatus.all, :id,  :name, {:prompt => false}) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
