<div class="art-nav-inner">

  <ul class="art-hmenu"><li><%= link_to 'Leave Account', leave_accounts_path %></li><li><%= link_to 'Leave type', leave_types_path %></li><li><%= link_to 'Attendence status', attendence_statuses_path %></li><li>  <%= link_to 'Attendence', attendences_path %> </li>

    <li><%= link_to 'Payslip Report', payslipreports_path %></li></ul> </div></br>   </br>
<h1>Attendences</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Date time</th>
      <th>Attendence status</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendences.each do |attendence| %>
      <tr>
        <td><%= attendence.employee.name %></td>
        <td><%= attendence.date_time %></td>
        <td><%= attendence.attendence_status_id %></td>
        <td><%= attendence.user_id %></td>
        <td><%= link_to 'Show', attendence %></td>
        <td><%= link_to 'Edit', edit_attendence_path(attendence) %></td>
        <td><%= link_to 'Destroy', attendence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendence', new_attendence_path %>
