<h1>Listing attendences</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Date time</th>
      <th>Attendence status</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendences.each do |attendence| %>
      <tr>
        <td><%= attendence.employee_id %></td>
        <td><%= attendence.date_time %></td>
        <td><%= attendence.attendence_status_id %></td>
        <td><%= attendence.user_id %></td>
        <td><%= link_to 'Show', attendence %></td>
        <td><%= link_to 'Edit', edit_attendence_path(attendence) %></td>
        <td><%= link_to 'Destroy', attendence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendence', new_attendence_path %>
