<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @attendence.employee_id %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @attendence.date_time %>
</p>

<p>
  <strong>Attendence status:</strong>
  <%= @attendence.attendence_status_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @attendence.user_id %>
</p>

<%= link_to 'Edit', edit_attendence_path(@attendence) %> |
<%= link_to 'Back', attendences_path %>
